@import "../../pages/PageStyle.css";

.menuGrid {
  grid-area: menuGrid;
  height: calc(100vh - var(--navBarHeight));
  width: inherit;
  display: grid;
  grid-template-areas:
  "menu contentGrid";
  overflow: hidden;

  /* border: 2px solid var(--menu); */
}

.menu {
  grid-area: menu;
  height: inherit;
  background: var(--grey);
  width: var(--menuWidth);
  display: grid;
  /* grid-template-rows: auto;  */
  justify-content: center;

  /* border: 2px solid var(--menu); */
}

.menu li {
  color: var(--light);
  border-bottom: 1px solid var(--light);
  font-size: 19px;
  display: grid;
  padding: 5px 60px 5px 60px;
  margin: 40px 0px 40px 0px;
  text-align: center;

  transition: color 1s ease;
}

li:hover {
  color: var(--lightHover);
  transition: color 0.5s ease;
}
