.menu{
    height: inherit;
    width: inherit;

    display: grid;
    /* grid-template-rows: auto;  */
    justify-items: center;
    background: var(--grey);

    /* border: 2px solid var(--menu); */
}

.menu li {
    color: var(--light);
    border-bottom: 1px solid var(--light);
    font-size: 19px;
    display: grid;
    padding: 5px 60px 5px 60px;
    margin: 60px 0px 60px 0px; 

    transition: color 1s ease;
}

li:hover{
    color: var(--lightHover);
    transition: color 0.5s ease;
} 
