@import "../menu/MenuStyle.css";

.navBarGrid {
    grid-area: navBarGrid;
    background: var(--dark);
    height: inherit;
    width: inherit;
    /* overflow: visible; */
    display: grid;
    grid-template-areas:
    "navBar"
    "menuGrid";
    /* border: 2px solid var(--navbar);  */
}


.navBar{
  grid-area: navBar;
  background: var(--dark);
  height: var(--navBarHeight);
  width: 100vw;
  justify-items: center;
  /* overflow: visible; */
  display: grid;

    /* -webkit-box-shadow: 0 100px 60px -6px rgb(194, 18, 18); */
    /* border: 10px solid var(--light); */
}

.navBar li {
    color: var(--light);
    font-size: 21px;
    display: inline-block;
    padding: 10px;
    margin: calc( (var(--navBarHeight)/4) ) 40px 0px 40px; 

    transition: color 1s ease;
    /* border: 2px solid var(--menu); */
}

li:hover{
    color: var(--lightHover);
    transition: color 0.5s ease;
} 
