@import "../menu/MenuStyle.css";

.navBarGrid {
    grid-area: navBarGrid;
    background: var(--dark);
    height: inherit;
    width: inherit;
    /* overflow: visible; */
    display: grid;
    grid-template-areas:
    "signStatus navBar languages"
    "menuGrid menuGrid menuGrid";
    /* border: 2px solid var(--navbar);  */
}

.signStatus {
    grid-area: signStatus;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    height: var(--navBarHeight);
}

.languages {
    grid-area: languages;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
    height: var(--navBarHeight);
}


.navBar{
  grid-area: navBar;
  height: var(--navBarHeight);
  justify-items: center;
  /* overflow: visible; */
  display: grid;

    /* -webkit-box-shadow: 0 100px 60px -6px rgb(194, 18, 18); */
    /* border: 10px solid var(--light); */
}
.languages img {
    height: 36px;
    width: 36px;
    margin: 32px 18px 0px 0px;
}

.navBar-button {
    color: var(--light);
    font-size: 21px;
    display: inline-block;
    padding: 10px;
    margin: calc( (var(--navBarHeight)/4) ) 40px 0px 40px; 

    transition: color 1s ease;
    /* border: 2px solid var(--menu); */
}

li:hover{
    color: var(--lightHover);
    transition: color 0.5s ease;
} 
